<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel='stylesheet' href='../static/style.css'>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src='../static/client.js'></script>
    <title>SigNet</title>
</head>
  <body>
        <div class="wrapper">
            <img id="logo-main" src="../static/logo.png" width="200" alt="SigNet">
            <nav class="navbar navbar-expand navbar-light bg-light">
                <!-- <a class="navbar-brand" href="#">Navbar</a> -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Home&nbsp;&nbsp;</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link navi" href="/about">&nbsp;&nbsp;Info <span class="sr-only">(current)</span></a>
                        </li>
                    </ul>
                </div>
            </nav>
        
            <div class="accordion col-sm-12 col-md-8 mx-auto acc" id="accordionExample">
                <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Black Pod
                    </button>
                    </h2>
                </div>
            
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                        The black pod disease is caused mainly by Phytophthora palmivora and 
                        Phytophthora megakarya. These belong to the large group of plant damaging 
                        oomycetes and they infect every living tissue of the cocoa plant. 
                        <br><br>
                        Fungicides are widely used for controlling the black pod disease. 
                        The fungicides inhibit the mycelia growth.
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Cocoa Swollen Shoot Virus Disease
                    </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                        The Cocoa Swollen Shoot Virus Disease (CSSVD) is mainly transmitted by the 
                        feeding actions of several mealybug species. The mealybugs feed on all parts of
                        the cocoa tree including flowers, cherells, pods and leaves. 
                        
                        <br><br>
                        The only cure for the CSSVD is to cut out visibly infected trees. 
                        The official eradication campaign in Ghana has cut out more than 
                        200 million trees since 1946.
                    </div>
                </div>
                </div>
                <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Pests
                    </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                    <div class="card-body text-justify">
                            The most effective way to get rid of pests is through regular complete
                            harvesting of the pods, enforcing a break in pod production and 
                            applying insecticides such as 
                            <strong>organochlorines, organophosphates and pyrethroids.</strong>   
                    </div>
                </div>
                </div>
            </div>
        </div>

        <div class="footer mt-auto py-3 d-flex align-items-start">
            <div class="container ">
                <span class="text-muted">
                        © 2019 Copyright:
                        <a href="https://www.linkedin.com/in/asiedu-brempong" target="_blank">Jewel</a>&nbsp;&nbsp;
                        <a href="https://twitter.com/asiedubrempong" class="fa fa-twitter"></a> &nbsp;&nbsp;
                        <a href="https://www.linkedin.com/in/asiedu-brempong" class="fa fa-linkedin"></a>
                </span>
            </div>
        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>
